<!DOCTYPE html>
<html lang="ru">
<title>Гарри Поттер</title>
<link rel="stylesheet" type="text/css" href="style.css">

<head>
    <link rel="shortcut icon" href="https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container">
                    <a class="navbar-brand" v-on:click="makeActive('home')">Гарри Поттер</a>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav" id=main1>
                            <a class="nav-link" data-toggle="dropdown" v-on:click="makeActive('home')">Главная</a>
                            <a class="nav-link" data-toggle="dropdown" aria-expanded="false" v-on:click="makeActive('potter')">Поттерианна</a>
                            <a class="nav-link" data-toggle="dropdown" aria-expanded="false" v-on:click="makeActive('person')">Персонажи</a>
                            <a class="nav-link" data-toggle="dropdown" aria-expanded="false" v-on:click="makeActive('sobit')">События</a>
                            <a class="nav-link" data-toggle="dropdown" aria-expanded="false" v-on:click="makeActive('magaz')">Магазин</a>
                            <a class="nav-link" data-toggle="dropdown" aria-expanded="false" v-on:click="makeActive('chat')">Чатик</a>
                        </ul>
                        <form class="form-inline mr-auto" target="_self"></form>

                        <li class="btn btn-light action-button" role="button" href="#"><a href="form.html">Войти</a></li>
                    </div>
                </div>
            </nav>

            <div class="container hero">
                <div class="row">
                    <h2>Первая магическая война</h2>
                    <div id="main3" v-cloak v-on:click="hideTooltip">
                        <div class="tooltip" v-on:click.stop v-if="show_tooltip">
                            <input type="text" v-model="text_content" />
                        </div>
                        <p v-on:click.stop="toggleTooltip">Началась в начале 70-х. Точной даты нет, поскольку никто
                            этой войны не объявлял. Просто в один момент преступления Пожирателей смерти перестали быть
                            только преступлениями. Дата окончания первой магической войны известна: это 31 октября 1981
                            года, когда Тёмный Лорд, убив Джеймса и {{text_content}} Поттеров, попытался убить их сына
                            Гарри, но вместо этого исчез сам.</p>
                    </div>
                    <h2>Пророчество</h2>
                    <p>Ключевое событие в серии романов о Гарри Поттере. Пророчество Сивиллы Трелони было записано
                        (видимо из воспоминаний Дамблдора) и эта запись была помещена в Зал пророчеств в Отделе тайн в
                        Министерстве магии. Рядом с шариком, в котором хранилась запись была помещена табличка «С.П.Т.
                        и А.П.В.Б.Д. Тёмный Лорд и ?». После событий в Годриковой впадине табличку сменили на «С.П.Т. и
                        А.П.В.Б.Д. Тёмный Лорд и Гарри Поттер (?)». Эта запись была разбита во время сражения в Отделе
                        тайн в июне 1996 года. Однако существовали ещё воспоминания Дамблдора, и, вероятно, самой
                        Сивиллы Трелони. Впрочем, воспоминания Трелони просмотреть весьма проблематично, поскольку сама
                        прорицательница ничего о пророчестве не помнила.</p>
                    <h2>Рождество</h2>
                    <p>Один из главных христианских праздников в реальном мире. Поскольку Джоан Роулинг, как и её
                        герои, живёт в христианской Англии, это один из главных праздников и в мире Гарри Поттера.На
                        время Рождества в Хогвартсе объявляются рождественские каникулы. Студенты могут отправиться на
                        пару недель домой, или же провести это время в школе. Впрочем, таких набирается обычно очень
                        мало. Как правило, это ребята-сироты (Том Реддл, Гарри Поттер) или те, чьи родители и сами
                        уезжают из дома на Рождество. Количество остающихся в замке студентов варьируется очень широко.
                        Во время каникул студентам разрешается посещать близлежащую деревеньку Хогсмид, но для этого
                        надо иметь разрешение, подписанное родителями или опекуном. В разные годы происходили разные
                        события в Хогвартсе.</p>
                    <h2>Турнир Трёх Волшебников</h2>
                    <p>Старинное состязание юных магов, в котором участвуют по одному представителю от трёх
                        известнейших магических школ: Хогвартса, Дурмстранга и Шармбатона. Представителей школ,
                        называемых «чемпионами школы», выбирает Кубок Огня. Далее «чемпионы» состязаются в трёх турах.
                        Интервал между турами может быть до нескольких месяцев. На каждом туре «чемпионы» получают одно
                        и то же магическое и часто смертельно опасное задание. В соответствии с качеством и быстротой
                        выполнения каждый участник получает некое количество очков. Набравший во всех турах самое
                        большое число баллов становится победителем.</p>
                    <h2>Возрождение Волан-де-Морта</h2>
                    <p>Ключевое событие четвёртой книги Поттерианы и всей саги, в ходе которого главный злодей,
                        Волан-де-Морт, обретает новое тело, а вместе с ним — и способность вновь творить зло с былой
                        силой.</p>
                    <h2>Семь Поттеров</h2>
                    <p>Название операции по безопасному перемещению Гарри Поттера из дома на Тисовой улице в «Нору».
                        Защита материнской крови, которую дала сыну Лили Поттер и которую поддерживала Петуния Дурсль,
                        исчезнет в день совершеннолетия Гарри. У волшебников это возраст семнадцати лет. С этих пор дом
                        на Тисовой, 4 перестанет быть безопасным убежищем и для Поттера, и для Дурслей.</p>
                    <h2>Вторая магическая война</h2>
                    <p>Берёт начало с момента обретения Волан-де-Мортом нового тела 24 июня 1995 года и заканчивается 2
                        мая 1998 года, когда в Битве за Хогвартс погибло большинство сторонников Тёмного Лорда, и сам
                        он пал в поединке с Гарри Поттером.</p>
                    <h2>Битва за Хогвартс</h2>
                    <p>Финальная битва Второй магической войны, в которой сошлись все силы, сражавшиеся на стороне
                        Волан-де-Морта, и силы, сражавшиеся против него. Хронологически Битва как бы разделена на две
                        части: до часовой передышки, объявленной Волан-де-Мортом, и после. Битва длилась с полуночи
                        второго мая до рассвета, примерно пять с половиной часов с учетом часовой передышки.</p>

                </div>
                <h4>*В данной статье спрятана пасхалка для Поттероманов</h4>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>

            <script>
                var demo = new Vue({
                    el: '#main1',
                    data: {
                        active: 'sobit'
                    },
                    methods: {
                        makeActive: function (item) {
                            if (item == 'home') {
                                window.location.href = 'home.html';
                            }
                            if (item == 'potter') {
                                window.location.href = 'potteriana.html';
                            }
                            if (item == 'person') {
                                window.location.href = 'person.html';
                            }
                            if (item == 'magaz') {
                                window.location.href = 'magaz.html';
                            }
                            if (item == 'chat') {
                                window.location.href = 'chat.html';
                            }
                            this.active = item;
                        }
                    }
                });
            </script>

            <script>
                var demo = new Vue({
                    el: '#main3',
                    data: {
                        show_tooltip: false,
                        text_content: 'Лили',
                    },

                    methods: {
                        hideTooltip: function () {
                            this.text_content = 'Лили';
                            this.show_tooltip = false;

                        },
                        toggleTooltip: function () {
                            if (this.show_tooltip) {
                                this.text_content = 'Лили';
                                this.show_tooltip = false;
                            }
                            else {
                                this.text_content = 'Always';
                                this.show_tooltip = true;
                            }
                        }
                    }
                })
            </script>
</body>

</html>