.container12 {
  background:linear-gradient(135deg, #172a74, #21a9af);
  background-color:#172a74;
  padding-bottom:80px;
  font-family:'Source Sans Pro', sans-serif;
}

.container12 .navbar12 {
  background:transparent;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}
