.header-blue {
  background:linear-gradient(135deg, #172a74, #21a9af);
  background-color:#184e8e;
  padding-bottom:80px;
  font-family:'Source Sans Pro', sans-serif;
}

.header-blue {
  padding-bottom:120px;
}

.header-blue .navbar {
  background:transparent;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

.header-blue .navbar .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.header-blue .navbar .navbar-brand:hover {
  color:#f0f0f0;
}

.header-blue .navbar .navbar-collapse {
  border-top:1px solid rgba(255,255,255,0.3);
  margin-top:.5rem;
}

.header-blue .navbar .navbar-collapse {
    border-color:transparent;
    margin:0;
}

.header-blue .navbar .navbar-collapse span .login {
  color:#d9d9d9;
  margin-right:.5rem;
  text-decoration:none;
}

.header-blue .navbar .navbar-collapse span .login:hover {
  color:#fff;
}

.header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
  background:none;
  box-shadow:none;
}

.header-blue .navbar-nav .nav-link {
    padding-left:.7rem;
    padding-right:.7rem;
}


.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
  line-height:2;
  color:#37434d;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
  background:#ebeff1;
}

.header-blue .action-button, .header-blue .action-button:not(.disabled):active {
  border:1px solid rgba(255,255,255,0.7);
  border-radius:40px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:.3rem .8rem;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.header-blue .action-button:hover {
  color:#fff;
}

.header-blue .action-button a {
  color:#fff;
  text-decoration: none;
}

.header-blue .navbar .form-inline label {
  color:#d9d9d9;
}

.header-blue .navbar .form-inline .search-field {
  display:inline-block;
  width:80%;
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

.header-blue .navbar .form-inline .search-field:focus {
  border-bottom:1px solid #ccc;
}

.header-blue .hero {
  margin-top:20px;
  text-align:center;
}

.header-blue .hero {
    margin-top:60px;
    text-align:left;
}

.header-blue .hero h2 {
  color:#fff;
  font-size:30px;
  margin-top:0;
  margin-bottom:15px;
  font-weight:300;
  line-height:1.4;
}

.header-blue .hero h4 {
  color:#fff;
  font-size:15px;
  margin-top:0;
  margin-bottom:15px;
  font-weight:300;
  line-height:1.4;
  text-decoration: none;
}
.header-blue .hero a {
  color:#fff;
  text-decoration: none;
}

.header-blue .hero p {
  color:rgba(255,255,255,0.8);
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}





.header-blue .pagination {
    margin-top:60px;
    text-align:center;
}





.container12 {
  background:linear-gradient(135deg, #9ba9e2, #afe8eb);
  background-color:#9ba9e2;
  padding-bottom:80px;
  font-family:'Source Sans Pro', sans-serif;
}

.container12 {
  padding-bottom:120px;
}

.container12 .navbar12 {
  background:transparent;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

.our-team{
  border-left: 8px solid #28004e;
  border-bottom: 8px solid #28004e;
 }
 
 .our-team .team-image{
  position: relative;
  text-align: center;
 }
 
 .our-team img{
  width: 100%;
  height: auto;
 }
 
 .our-team .description{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  padding: 40px 50px;
  opacity: 0;
  background-color: rgba(59, 51, 106, 0.6);
  transition: all 0.5s ease 0s;
  }
 
 .our-team:hover .description{
  opacity: 1;
 }
 
 .our-team .social{
  padding: 10px 0 0 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 40px;
  left: -27px;
  background: #0399fd;
  text-align: center;
  transform: translate(25px, 0px) rotateY(90deg);
  transition: all 0.5s ease 0s;
 }
 
 .our-team:hover .social{
  transform: translate(0px, 0px) rotateY(0deg);
 }
 
 .our-team .social li{
  display: block;
  margin-bottom: 10px;
 }
 
 .our-team .social li a{
  display: block;
  width: 40px;
  height: 35px;
  font-size: 17px;
  color: #fff;
  line-height: 30px;
  transition: all 0.5s ease 0s;
 }
 
 .our-team .social li a:hover{
  background: #dadada;
 }
 
 .our-team .team-info{
  padding: 20px;
 }
 
 .our-team .title,
 .our-team .title a{
  font-size: 18px;
  color: #000000;
  letter-spacing: 4px;
  margin: 0 0 15px 0;
  transition: all 0.5s ease 0s;
  text-decoration: none;
 }
 
 .our-team .post{
  display: block;
  font-size: 14px;
  color: #000000;
  text-transform: capitalize;
 }

 .our-team .title:hover, 
 .our-team .title a:hover,
 .our-team .post:hover{
  color: #dadada;
 }
 
 
 @media only screen and (max-width: 990px){
  .our-team{ margin-bottom: 30px; }
 }
 
 @media only screen and (max-width: 767px){
  .our-team .social{ left: -20px; }
 }
 
 @media only screen and (max-width: 480px){
  .our-team .social{ left: -20px; }
 }

form h1{
	color:#fff;
	font-size:48px;
	font-family:'Open Sans', sans-serif;
	line-height:1;
}

form ul{
	list-style:none;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	margin:20px 0 15px;
}

form ul li{
	padding:20px 30px;
	background-color:#FFDE7D;
	margin-bottom:8px;
	cursor:pointer;
}

form ul li span{
	float:right;
}

form ul li.active{
	background-color:#00B8A9;
}

div.total{
	border-top:1px solid #fff;
	padding:15px 30px;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	color:#fff;
}

div.total span{
	float:right;
}




 