* {
	font-family: 'Roboto', sans-serif;
}
html, body {
	font-size: 16px;
}

section#demo {
	background:linear-gradient(135deg, #172a74, #21a9af);
    position: relative;
    padding: 0;
    min-height: 100vh;
    transition: height 9999s;
}
.vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.card {
	background: rgb(255, 255, 255);
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    padding: 7px 15px;
}


.header-blue {
	background:linear-gradient(135deg, #172a74, #21a9af);
	background-color:#184e8e;
	padding-bottom:80px;
	font-family:'Source Sans Pro', sans-serif;
  }
  
  .header-blue {
	padding-bottom:120px;
  }
  
  .header-blue .navbar {
	background:transparent;
	padding-top:.75rem;
	padding-bottom:.75rem;
	color:#fff;
	border-radius:0;
	box-shadow:none;
	border:none;
  }
  
  .header-blue .navbar .navbar-brand {
	font-weight:bold;
	color:inherit;
  }
  
  .header-blue .navbar .navbar-brand:hover {
	color:#f0f0f0;
  }
  
  .header-blue .navbar .navbar-collapse {
	border-top:1px solid rgba(255,255,255,0.3);
	margin-top:.5rem;
  }
  
  .header-blue .navbar .navbar-collapse {
	  border-color:transparent;
	  margin:0;
  }
  
  .header-blue .navbar .navbar-collapse span .login {
	color:#d9d9d9;
	margin-right:.5rem;
	text-decoration:none;
  }
  
  .header-blue .navbar .navbar-collapse span .login:hover {
	color:#fff;
  }
  
  .header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
	background:none;
	box-shadow:none;
  }
  
  .header-blue .navbar-nav .nav-link {
	  padding-left:.7rem;
	  padding-right:.7rem;
  }
  
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
	line-height:2;
	color:#37434d;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
	background:#ebeff1;
  }
  
  .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
	border:1px solid rgba(255,255,255,0.7);
	border-radius:40px;
	color:#ebeff1;
	box-shadow:none;
	text-shadow:none;
	padding:.3rem .8rem;
	background:transparent;
	transition:background-color 0.25s;
	outline:none;
  }
  
  .header-blue .action-button:hover {
	color:#fff;
  }
  
  .header-blue .action-button a {
	color:#fff;
	text-decoration: none;
  }
  

