@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
	margin:0;
	padding:0;
}

.parallax
{
	position: fixed;
	top:0;
	left: -60px;
	right: 60px;
	width: 110%;
	height: 110%;
	background-size: cover !important;
}
 
.sky
{
	background: no-repeat url(https://gitlab.com/vv_tanya/web/-/raw/master/vue/nebo.jpg);
	background-size: 100%;
	z-index: 1;
}

.clouds
{
	background: no-repeat url(https://gitlab.com/vv_tanya/web/-/raw/master/vue/luna.png);
	background-size: 105%;
	z-index: 2;
	-webkit-transition: background-position 0.5s linear;
	-moz-transition: background-position 0.5s linear;
	-o-transition: background-position 0.5s linear;
	transition: background-position 0.5s linear;
}

 
.mountain-far
{
	background: no-repeat url(https://gitlab.com/vv_tanya/web/-/raw/master/vue/les.png);
	background-size: 105%;
	margin-top: -40px;
	z-index: 3;
    	-webkit-transition: background-position 0.5s linear;
	-moz-transition: background-position 0.5s linear;
	-o-transition: background-position 0.5s linear;
	transition: background-position 0.5s linear;
}


.mountain-close
{
	background: no-repeat url(https://gitlab.com/vv_tanya/web/-/raw/master/vue/ozero1.png);
	background-size: 105%;
	margin-top: -40px;
	z-index: 4;
	-webkit-transition: background-position 0.5s linear;
	-moz-transition: background-position 0.5s linear;
	-o-transition: background-position 0.5s linear;
	transition: background-position 0.5s linear;
}


.forest-far
{
	background: no-repeat url(https://gitlab.com/vv_tanya/web/-/raw/master/vue/1.jpg);
	background-size: 105%;
	margin-top: -40px;
	z-index: 5;
	-webkit-transition: background-position 0.5s linear;
	-moz-transition: background-position 0.5s linear;
	-o-transition: background-position 0.5s linear;
	transition: background-position 0.5s linear;
}



.header
{
	font-size: 72pt;
}

.subheader
{
	font-size: 20pt;
	margin-left: -20px;
	font-weight: bold;
}
